html {
	font-size: 62.5%;
	font-family: "Times New Roman", Serif;
	width: 100%;
}

body {
	background-color: #5e5f5f;
	position: relative;
	width: 100%;
	overflow-x: hidden;
}

.container {
	text-align: center;
}

.logo {
	margin: 10px;
}

header {
	background-color: black;
}

header p {
	font-size: 3rem;
	color: white;
	padding-bottom: 20px;
	margin: 0;
}

.content {
	height: 300px;
	width: 100%;
	background-image: url("../img/mid-pic.png");
	position: relative;
	background-size: cover;
}

.content-list {
	display: inline-block;
	position: absolute;
	text-align: left;
	left: 0;
	bottom: 0;
	top: 0;
	padding-left: 60px;
	margin: 5px;
}

.list-item {
	font-size: 2.2rem;
	color: #e1e1e1;
	padding: 10px;
	margin-bottom: 15px;
}

.list-item:before {
	content: url(../img/check-icon.png);
	margin-right: 15px;
}

footer {
	width: 100%;
	background-color: black;
}

h3 {
	font-size: 2.6rem;
	color: white;
	margin: 0;
	padding-top: 30px;
	display: inline-block;
}

.details-form {
	text-align: center;
	margin-top: 25px;
}

input {
	border: none;
	padding: 10px;
	font-size: 1.4rem;
	border-radius: 10px;
	margin: 20px 10px 35px 10px;
	outline: none;
}

input:invalid {
	border: 1px solid red;
}

input:focus, button:focus {
	background-color: lightgray;
}

button {
	border-radius: 80px 80px 80px 80px;
	border: none;
	height: 40px;
	width: 160px;
	background-color: #57adde;
	font-size: 1.4rem;
	color: white;
	margin-right: 10px;
}

button:hover {
	background-color: rgba(255,255,255,0.4);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	outline: none;
}

@media (min-width: 320px) and (max-width: 666px) {

	.content-list {
		padding-left: 30px;
	}
	
	.list-item {
		font-size: 2rem;
		margin-bottom: 20px;
	}

	header p {
		font-size: 2.2rem;
	}

	.details-form {
		margin-top: 20px;
	}

	input {
		display: block;
		margin: 10px auto;
	}

	button {
		border-radius: 60px 60px 60px 60px;
		height: 30px;
		width: 130px;
		margin: 0;
		font-size: 1.2rem;

	}
}

@media (min-width: 667px) and (max-width: 809px) {
	
	.list-item {
		font-size: 2.2rem;
	}

	header p {
		font-size: 2.8rem;
	}

	.details-form {
		margin-top: 20px;
	}

	input {
		display: block;
		margin: 20px auto;
	}

	button {
		border-radius: 60px 60px 60px 60px;
		height: 30px;
		width: 130px;
		margin: 0;
		font-size: 1.2rem;

	}
}